TZ=Asia/Tokyo

# https://github.com/settings/emails の @users.noreply.github.com のメールアドレスを登録してください。
GIT_AUTHOR_NAME=Name
GIT_AUTHOR_EMAIL=xxx+xxx@users.noreply.github.com
GIT_COMMITTER_NAME=Name
GIT_COMMITTER_EMAIL=xxx+xxx@users.noreply.github.com

# プロジェクト固有の名前に置き換えてください。この名前単位で volumes が管理されます。
DEVCONTAINER_ID=sgw-sample
